.home{


    width: 100%;
    height: 86vh;
}

.home h1{

font-size:60px ;

}

.home-btn{

   
       border: none;
       outline: none;
        background-color:rgba(36, 4, 71, 0.87) ;
        border-radius: 10%;
        color:white !important;
        font-weight: bold;
        padding: 15px;
        
        

}